src/fairscheduler.xml.template
src/log4j2.properties.template
src/metrics.properties.template
src/spark-defaults.conf
src/spark-defaults.conf.template
src/spark-env.sh
src/spark-env.sh.template
src/workers.template
src/__pycache__
src/pickle_functions/__pycache__/pickle.cpython-311.pyc
