local-directory/fairscheduler.xml.template
local-directory/log4j2.properties.template
local-directory/metrics.properties.template
local-directory/spark-defaults.conf
local-directory/spark-defaults.conf.template
local-directory/spark-env.sh
local-directory/spark-env.sh.template
local-directory/workers.template
local-directory/__pycache__
local-directory/pickle_functions/__pycache__/pickle.cpython-311.pyc
